MONGO_PASSWORD="YOUR_MONGO_PASSWORD"

JWT_SECRET = "THE JWT SECRET OF YOURS, ARBITRARY, BEST GENERATED WITH: openssl rand -base64 64"

AMAZON_REGION = "YOUR AWS HOSTING REGION"
AMAZON_CREDENTIALS_KEY_ID = "YOUR AWS CREDENTIALS KEY ID"
AMAZON_CREDENTIALS_ACCESS_KEY = "YOUR AWS CREDENTIALS ACCESS KEY"

AMAZON_COGNITO_USER_POOL_ID = "THE USER POOL YOU CREATED IN COGNITO FOR AUTHENTICATION"
AMAZON_COGNITO_CLIENT_ID = "THE USER CLIENT ID USING THE ABOVE POOL"
AMAZON_COGNITO_API_VERSION = "2016-04-18"
